
.contenedor{
    width: 95%;
    margin-left: auto;
    margin-top:auto;
    margin-top:30px;
}

.cuadrado{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    display:inline-block;
    margin-right: 10px;
    font-size: 45px;
}
.cuadrado_rojo{
    background-color:red;
    color:yellow;
}
.cuadrado_negro{
    background-color:black;
    color:white;
}